# Directories
SONG_FILE_DIR=/path/to/fma_large
VOCAL_FILE_DIR=/path/to/fma_large_stems
DATASET_PATH=/path/to/survey_2/metadata/dataset_survey_2_finished.csv
TRIPLET_PATH=/path/to/survey_2/metadata/mel_spec_enc_nlognK_survey_2_index.npy

# Meteor Deployment Vars
PORT=3000
ADMIN_USERNAME=USERNAME
ADMIN_PASSWORD=PASSWORD
MONGO_PATH=/path/to/similarity-of-singing-voices-survey/.mongo